.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 100vh;
  height: 100vh;
}

.black {
  background-color: #414141;
}

.white {
  background-color: #f0d9b5;
}


.rules ul li{
  display:relative;
  bottom: 100%;
  left:50%;
  transform: translate(60%,50%);
  margin: 20px;
}

